@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:rgba(0, 0, 0, 0.5) url(./media/website\ background.avif);
    background-size: cover;
    background-blend-mode: darken;
}
html {
    font-size: 10px;
}

body{
    background:url(./media/website\ background.avif);
    background-position: 0, 1000px;
    font-family: 'raleway', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0, 3rem;
    margin-top: 4rem;
    text-align: center;
}

h1{
    color:rgb(238, 255, 0);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 400;
}
h3 {
    color: rgb(228, 211, 191);
    font-size: 4rem;
    font-weight: 400;
}
.image {
    margin-top: 10rem;
    margin-bottom: 5rem;
    clip-path: circle();
    size: 8px;
}
p {
    font-size: 2rem;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 5rem;
}

.btn {
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #fff;
    font-size: 2rem;
    text-decoration: none;
    color: burlywood;
    border-radius: 10px;
    transition: background 1.55 s;
}
.btn:hover {
    background: rgb(141, 129, 129);
}


nav ul a li:hover{
    background-color: orangered;
}
nav ul a li:active{
    background-color: brown;
}
nav ul al{
    text-decoration: none;
    color: #fff;
}
/* nav ul a:link{
    color: #fff;
}
nav ul a:visited{
    color: chartreuse;
}
nav ul a:hover{
    color: red;
}
nav ul a:active{
    color: purple;
    ] */

}
.hero-copy{
    width: 400px;
    height: auto;
    text-align: center;
    float: left;
    position: relative;
    top: 30%;
    left: 8%;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(136, 136, 136, 0.58);
    */ border-radius: 15px;
    /* position: absolute;
    top: 50%;
    left: 5
footer{
    width: 100%;
    height: 60px;
    text-align: center;
    border: 3px solid #000;
    clear: both;
    float: left;
}
