@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

*{
    margin: 0;
    padding: 1;
    box-sizing: content-box;
}
header{
    width: 100%;
    height: 50px;
    text-align: center;
    border: 3px solid #000;
    position: sticky;
    top: 0;
    background-color: burlywood;
    z-index: 5;
}
.topnav {
    background-color:rgb(35, 13, 3)
    overflow: hidden
}
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color:firebrick;
    color: #fff;
}
nav ul{
    list-style: none;
    float: center;
    position: absolute;
}
nav ul a li:hover{
    background-color: ;
}
nav ul a li:active{
    background-color:black;
}
nav ul al{
    text-decoration: none;
    color: #fff;
}
/* nav ul a:link{
    color: #fff;
}
nav ul a:visited{
    color: chartreuse;
}
nav ul a:hover{
    color: red;
}
nav ul a:active{
    color: purple;
    ] */
main{
    width: 100%;
    height: 500px;
    background-color: brown;
    background-image: url(./media/marketing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-copy{
    width: 400px;
    height: auto;
    text-align: center;
    float: left;
    position: relative;
    top: 30%;
    left: 8%;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(136, 136, 136, 0.58);
    */ border-radius: 15px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.hero-copy h2{
    text-shadow: 1px 1px rgba(136, 136, 136, 0.58) ;
    text-transform: uppercase;
}
aside{
    height: 500px;
    width: 50%;
    text-align: center;
    border: 3px solid #000;
    float: right;
}
section, article{
    height: 250px;
    width: 50%;
    text-align: center;
    border: 3px solid #000;
    float: left;
}
footer{
    width: 100%;
    height: 60px;
    text-align: center;
    border: 3px solid #000;
    clear: both;
}
